@model PracticaProfesionalJacquard.Models.ciudadClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ciudadClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poblacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poblacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsCapital)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCiudad">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
